* {
  padding: 0;
  margin: 0;
}
/** ☝️ Let's remove any spacing */

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.item {
  border: 5px solid rgb(0, 44, 107);
  background-color: rgb(1, 165, 146);
  padding: 10px;
  color: white;
  font-size: 4rem;
  /** You can customize each item */
}